<h1>Mondkalender</h1>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
	magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
	gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
	elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
	eos
	et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
	dolor
	sit amet.</p>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Mondphasen</h3>
				</div>
				<div class="panel-body">
					<div class="checkbox" ng-repeat="phase in phases">
						<label>
							<input type="checkbox" ng-model="phase.include"/> {{phase.name}}
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Events</h3>
				</div>
				<div class="panel-body">
					<div class="checkbox" ng-repeat="event in events">
						<label>
							<input type="checkbox" ng-model="event.include"/> {{event.name}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Zeitspanne</h3>
				</div>
				<div class="panel-body">
					<form class="form-inline">
						<div class="form-group">
							Anzeige vom
							<input type="date" class="form-control" ng-model="from">
						</div>
						<div class="form-group">
							bis
							<input type="date" class="form-control" ng-model="to">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Kalender</h3>
				</div>
				<table class="table table-bordered">
					<tr ng-repeat="event in calendar">
						<td>{{event.date| date:'mediumDate'}}</td>
						<td>{{event.title}}</td>
						<td class="text-muted description">{{event.description}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
