<img src="/images/mond.png" alt="Mond" id="mond"/>
<h1>Mondkalender</h1>

<p>Sind Sie schon lange auf der Suche nach einer einfachen und übersichtlichen Web-App, um alles rund um die
	Mondphasen zu erfahren? Dann haben Sie sie jetzt gefunden! In der folgenden App können Sie sich Ihren
	persönlichen Mondkalender zusammenstellen. Einerseits sind das die Mondphasen, andererseits aber auch spezielle
	Ereignisse im Zusammenhang mit dem Mond. Der Monkalender lässt sich unten anzeigen und in Ihren Kalender
	exportieren.</p>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Mondphasen</h3>
			</div>
			<div class="panel-body">
				<div class="checkbox" ng-repeat="phase in phases">
					<label>
						<input type="checkbox" ng-model="phase.include"/> {{phase.name}}
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Events</h3>
			</div>
			<div class="panel-body">
				<div class="checkbox" ng-repeat="event in events">
					<label>
						<input type="checkbox" ng-model="event.include"/> {{event.name}}
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Zeitspanne</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline">
					<div class="form-group">
						Anzeige vom
						<input type="date" class="form-control" ng-model="from" required>
					</div>
					<div class="form-group">
						bis
						<input type="date" class="form-control" ng-model="to" required>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row fadeAnimation" ng-if="calendar">
	<div class="col-md-12">
		<div class="panel" ng-class="{true: 'panel-warning', false: 'panel-default'}[requestOngoing]">
			<div class="panel-heading">
				<h3 class="panel-title">Kalender <span ng-if="requestOngoing">(neue Daten werden geladen)</span>
				</h3>
			</div>
			<table class="table table-bordered">
				<tr ng-repeat="event in calendar" class="fadeAnimation">
					<td>{{event.date| date:'mediumDate'}}</td>
					<td>{{event.title}}</td>
					<td class="text-muted description">{{event.description}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="row fadeAnimation" ng-if="error">
	<div class="col-md-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Fehler {{error.status}}: {{error.statusText}}</h3>
			</div>
			<div class="panel-body">
				{{error.data}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Exportieren</h3>
			</div>
			<div class="panel-body">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" ng-click="downloadIcal()">Für Kalender exportieren
						(iCalendar)
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
