<img src="/images/mond.png" alt='@Messages("app.moon")' id="mond"/>
<h1>@Messages("app.title")</h1>

<p>@Messages("app.introduction")</p>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Messages("phases.title")</h3>
			</div>
			<div class="panel-body">
				@for(phase <- Array("phases.full","phases.new","phases.quarter","phases.daily")) {
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="@{phase}.value"/> @Messages(phase)
					</label>
				</div>
				}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Messages("events.title")</h3>
			</div>
			<div class="panel-body">
				@for(event <- Array("events.lunareclipse","events.solareclipse","events.moonlanding")) {
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="@{event}.value"/> @Messages(event)
					</label>
				</div>
				}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Messages("time.title")</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" name="fromTo">
					@{Html(Messages("time.fromTo", """
					<div class="form-group" ng-class="{'has-error':fromTo.from.$error.date||fromTo.from.$error.required}">
						<input type='date' class='form-control' ng-model='from' name="from" required
							   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
							   min="1000-01-01" max="3000-12-31">
					</div>
					""", """
					<div class="form-group" ng-class="{'has-error':fromTo.to.$error.date||fromTo.to.$error.required}">
						<input type='date' class='form-control' ng-model='to' name="to" required
							   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
							   min="1000-01-01" max="3000-12-31">
					</div>
					"""))}
					&nbsp;
					<span class="text-danger" ng-if="fromTo.from.$error.required||fromTo.to.$error.required">@Messages("time.fromTo.required")</span>
					<span class="text-danger" ng-if="fromTo.from.$error.date||fromTo.to.$error.date">@Messages("time.fromTo.date")</span>
					<span class="text-danger" ng-if="fromTo.from.$error.min||fromTo.to.$error.min||fromTo.from.$error.max||fromTo.to.$error.max">@Messages("time.fromTo.minmax")</span>
			</div>
			</form>
		</div>
	</div>
</div>
</div>

<div class="row fadeAnimation" ng-if="calendar">
	<div class="col-md-12">
		<div class="panel" ng-class="{true: 'panel-warning', false: 'panel-default'}[requestOngoing]">
			<div class="panel-heading">
				<h3 class="panel-title">@Messages("calendar.title")<span ng-if="requestOngoing"> (@Messages("calendar.reloading"))</span>
				</h3>
			</div>
			<table class="table table-bordered">
				<tr ng-repeat="event in calendar" class="fadeAnimation">
					<td>{{event.date| date:'mediumDate'}}</td>
					<td>{{event.title}}</td>
					<td class="text-muted description">{{event.description}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="row fadeAnimation" ng-if="error">
	<div class="col-md-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Fehler {{error.status}}: {{error.statusText}}</h3>
			</div>
			<div class="panel-body">
				{{error.data}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Messages("export.title")</h3>
			</div>
			<div class="panel-body">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" ng-click="downloadIcal()">@Messages("export.ical")
					</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" onclick="window.print()">@Messages("export.print")
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
