<img src="/images/mond.png" alt='{{messages.app.moon}}' id="mond"/>
<h1>{{ messages.app.title }}</h1>

<p>{{ messages.app.introduction }}</p>

<form class="row" #optionsForm="ngForm">
  <div class="col-lg-6">
    <div class="card" id="phases">
      <h5 class="card-header">{{ messages.phases.title }}</h5>
      <div class="card-body">
        <div class="form-check" *ngFor="let phase of ['full', 'new', 'quarter', 'daily']">
          <input class="form-check-input" type="checkbox" [(ngModel)]="phases[phase]" [id]="phase+'-checkbox'"
                 [name]="phase+'-checkbox'">
          <label class="form-check-label" [for]="phase+'-checkbox'">{{ messages.phases[phase] }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card" id="events">
      <h5 class="card-header">{{ messages.events.title }}</h5>
      <div class="card-body">
        <div class="form-check"
             *ngFor="let event of ['lunareclipse','solareclipse','moonlanding']">
          <input class="form-check-input" type="checkbox" [(ngModel)]="events[event]" [id]="event+'-checkbox'"
                 [name]="event+'-checkbox'">
          <label class="form-check-label" [for]="event+'-checkbox'">{{ messages.events[event] }}</label>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="interval">
      <h5 class="card-header">{{ messages.time.title }}</h5>
      <div class="card-body">
        <form class="row align-items-center g-3" name="fromTo">
          <label class="col-auto" for="from">{{ messages.time.fromTo.from }}</label>
          <div class="col-auto"
               ngClass="{'has-error':fromTo_from.errors?.['date']||fromTo_from.errors?.['required']}">
            <input type="date" class="form-control" [(ngModel)]="from" name="from" id="from" #fromTo_from="ngModel"
                   (change)="from$.next(this.toDate(this.from))"
                   (blur)="this.fromDebounced=this.toDate(this.from); fetchCalendar()"
                   required min="1000-01-01" [max]="this.to">
          </div>
          <label class="col-auto" for="to">{{ messages.time.fromTo.to }}</label>
          <div class="col-auto" ngClass="{'has-error':fromTo.to.$error.date||fromTo.to.$error.required}">
            <input type="date" class="form-control" [(ngModel)]="to" name="to" id="to" #fromTo_to="ngModel"
                   (change)="to$.next(this.toDate(this.to))"
                   (blur)="this.toDebounced=this.toDate(this.to); fetchCalendar()"
                   required [min]="this.from" max="3000-12-31">
          </div>
          <span class="text-danger ms-2"
                *ngIf="fromTo_from.errors?.['required']||fromTo_to.errors?.['required']">{{ messages.time.fromTo.required }}</span>
          <span class="text-danger ms-2"
                *ngIf="fromTo_from.errors?.['date']||fromTo_to.errors?.['date']">{{ messages.time.fromTo.date }}</span>
          <span class="text-danger ms-2"
                *ngIf="fromTo_from.errors?.['min']||fromTo_to.errors?.['min']||fromTo_from.errors?.['max']||fromTo_to.errors?.['max']">{{ messages.time.fromTo.minmax }}</span>
          <label class="col-auto" for="zone">{{ messages.time.fromTo.inTimezone }}</label>
          <div class="col-auto" ngClass="{'has-error':fromTo.to.$error.date||fromTo.to.$error.required}">
            <select class="form-control" [(ngModel)]="zone" name="zone" id="zone"
                    (change)="trackTimezoneChange(); fetchCalendar()">
              <option *ngFor="let tz of getSupportedTimezones()" [ngValue]="tz">{{ tz }}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="export">
      <h5 class="card-header">{{ messages.export.title }}</h5>
      <div class="card-body">
        <button class="btn btn-light me-1" (click)="trackIcalSubscription(); subscribeOpen(subscribeModal)"
                data-toggle="modal" data-target="#subscribeModal">
          {{ messages.export.addToCalendar }}
        </button>
        <button type="button" class="btn btn-light" onclick="window.print()" (click)="trackPrint()">
          {{ messages.export.print }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row fadeAnimation" id="calendar">
  <div class="col-lg-12">
    <div class="card" *ngIf="calendar.length>0" ngClass="{true: 'card-warning', false: 'card-default'}[requestOngoing]">
      <h5 class="card-header">{{ messages.calendar.title }}
        <span *ngIf="requestOngoing">({{ messages.calendar.reloading }})</span>
      </h5>
      <table class="table table-bordered table-dark mb-0">
        <tbody>
        <tr *ngFor="let event of calendar" class="fadeAnimation">
          <td class="dateFont">{{ this.formatDateForGui(event.date) }}</td>
          <td>{{ event.title }}</td>
          <td class="text-muted description">{{ event.description }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card text-white bg-danger" *ngIf="error">
      <h5 class="card-header">Fehler {{ error.status }}: {{ error.statusText }}</h5>
      <div class="card-body">
        {{ error.error }}
      </div>
    </div>
  </div>
</div>

<ng-template #subscribeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="subscribeModalLabel">{{ messages.export.ical.subscribe.title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>{{ messages.export.ical.subscribe.instructions.lead }}:</p>
    <ul ngbNav #calAppInfo="ngbNav" class="nav-tabs" [destroyOnHide]="false"
        [(activeId)]="activeSubscriptionDescriptionOS">
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_IOS"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_IOS?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.iOS.name }}</button>
        <ng-template ngbNavContent>
          <ol>
            <li *ngFor="let step of messages.export.ical.subscribe.instructions.iOS.steps">{{ step }}</li>
            <li>{{ messages.export.ical.subscribe.instructions.enjoyInstruction }}</li>
          </ol>
        </ng-template>
      </li>
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_MAC"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_MAC?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.macOS.name }}</button>
        <ng-template ngbNavContent>
          <ol>
            <li *ngFor="let step of messages.export.ical.subscribe.instructions.macOS.steps">{{ step }}</li>
            <li>{{ messages.export.ical.subscribe.instructions.enjoyInstruction }}</li>
          </ol>
        </ng-template>
      </li>
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_GOOGLE"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_GOOGLE?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.googleCalendar.name }}</button>
        <ng-template ngbNavContent>
          <ol>
            <li>{{ messages.export.ical.subscribe.instructions.googleGoto }} <a href="https://calendar.google.com/"
                                                                                target="_blank">{{ messages.export.ical.subscribe.instructions.googleCalendar.name }}</a>
            </li>
            <li *ngFor="let step of messages.export.ical.subscribe.instructions.googleCalendar.steps">{{ step }}</li>
            <li>{{ messages.export.ical.subscribe.instructions.enjoyInstruction }}</li>
          </ol>
        </ng-template>
      </li>
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_ANDROID"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_ANDROID?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.androidName }}</button>
        <ng-template ngbNavContent>
          <p>
            {{ messages.export.ical.subscribe.instructions.androidPrefix }}
            <a href="#"
               (click)="this.activeSubscriptionDescriptionOS=this.SUBSCRIPTION_DESCRIPTION_GOOGLE;false">{{ messages.export.ical.subscribe.instructions.androidLink }}</a>{{ messages.export.ical.subscribe.instructions.androidPostfix }}
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_THUNDERBIRD"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_THUNDERBIRD?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.thunderbird.name }}</button>
        <ng-template ngbNavContent>
          <ol>
            <li *ngFor="let step of messages.export.ical.subscribe.instructions.thunderbird.steps">{{ step }}</li>
            <li>{{ messages.export.ical.subscribe.instructions.enjoyInstruction }}</li>
          </ol>
        </ng-template>
      </li>
      <li [ngbNavItem]="SUBSCRIPTION_DESCRIPTION_OUTLOOK"
          [style.order]="initialSubscriptionDescriptionOS==SUBSCRIPTION_DESCRIPTION_OUTLOOK?-1:0">
        <button ngbNavLink>{{ messages.export.ical.subscribe.instructions.outlook.name }}</button>
        <ng-template ngbNavContent>
          <ol>
            <li *ngFor="let step of messages.export.ical.subscribe.instructions.outlook.steps">{{ step }}</li>
            <li>{{ messages.export.ical.subscribe.instructions.enjoyInstruction }}</li>
          </ol>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="calAppInfo" class="mt-2"></div>
    <!-- @formatter:off -->
    <textarea id="icalLink" type="text" class="form-control mb-3" readonly="readonly" rows="4">{{ getApiUrl(true,true) }}?created={{created}}&{{ paramsAsString(false) }}</textarea>
    <!-- @formatter:on -->
    <p class="text-muted mb-0">{{ messages.export.ical.subscribe.explanations }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="copyIcalLink()" data-dismiss="modal">
      <svg *ngIf="!clipboardSet; else clipboardCheckFilled" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor" class="bi bi-clipboard"
           viewBox="0 0 16 16">
        <path
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
        <path
          d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
      </svg>
      <ng-template #clipboardCheckFilled>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
          <path
            d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
          <path
            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
      </ng-template>
      {{ messages.export.ical.subscribe.copy }}
    </button>
    <a class="btn btn-light" [href]="getApiUrl(true,true)+'?'+paramsAsString(true)+'&manualDownload'"
       (click)="trackDownloadIcal()">{{ messages.export.ical.download }}</a>
  </div>
</ng-template>
<br/>
