<h1>{{ messages.about.title }}</h1>

<p>{{ messages.about.introduction }}</p>

<h3>{{ messages.about.sources.title }}</h3>
<ul>
  <li>{{ messages.about.sources.moonimage.title }}:
    <a href="https://en.wikipedia.org/wiki/File:Full_Moon_Luc_Viatour.jpg" target="_blank">Luc Viatour</a> /
    <a href="https://lucnix.be/" target="_blank">lucnix.be</a>
  </li>
  <li>{{ messages.about.sources.phases.title }}:
    <a href="https://github.com/SimpleAstronomy/simple-astronomy-lib" target="_blank">simple-astronomy-lib</a></li>
  <li>{{ messages.about.sources.lunareclipse.title }}:
    <a href="https://eclipse.gsfc.nasa.gov/LEcat5/LEcatkey.html" target="_blank">
      Catalog of Lunar Eclipses, Nasa</a></li>
  <li>{{ messages.about.sources.solareclipse.title }}:
    <a href="https://eclipse.gsfc.nasa.gov/SEcat5/SEcatkey.html" target="_blank">
      Catalog of Solar Eclipses, Nasa</a></li>
  <li>{{ messages.about.sources.moonlanding.title }}: {{ messages.about.sources.various }},
    {{ messages.about.sources.mainly }}:
    <a href="https://en.wikipedia.org/wiki/List_of_landings_on_extraterrestrial_bodies#Moon" target="_blank">
      List of landings on extraterrestrial bodies, Wikipedia</a>
    {{ messages.general.and }}
    <a href="https://thespacedevs.com/" target="_blank">The Space Devs API</a>
    {{ messages.about.sources.space.devs.reason }}
  </li>
  <li>{{ messages.about.sources.developedWith }}:
    <a href="https://www.playframework.com/" target="_blank">Play Framework</a>,
    <a href="https://angular.dev/" target="_blank">Angular</a>,
    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
    {{ messages.general.and }}
    <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a>
  </li>
</ul>


<h3>{{ messages.about.support.title }}</h3>
<div class="mb-3">
  <app-support-buttons></app-support-buttons>
</div>


<h3>{{ messages.about.improveTranslation.title }}</h3>
<div class="row gx-2 align-items-center">
  <div class="col-sm-3">
    <label class="visually-hidden" for="oldText">{{ messages.about.improveTranslation.currentText }}</label>
    <input type="text" class="form-control" id="oldText" [disabled]="suggestBetterTranslationInProgress"
           [placeholder]="messages.about.improveTranslation.currentText" [(ngModel)]="oldText">
  </div>
  <div class="col-sm-3">
    <label class="visually-hidden" for="betterText">{{ messages.about.improveTranslation.betterTextSuggestion }}</label>
    <input type="text" class="form-control" id="betterText" [disabled]="suggestBetterTranslationInProgress"
           [placeholder]="messages.about.improveTranslation.betterTextSuggestion" [(ngModel)]="betterText">
  </div>
  <div class="col-auto">
    <button (click)="suggestBetterTranslation()" class="btn btn-primary"
            [disabled]="suggestBetterTranslationInProgress || oldText==='' || betterText===''">
      {{ messages.about.improveTranslation.submit }}
    </button>
  </div>
  <div class="col-auto">
    <span class="form-text text-success">{{ suggestBetterTranslationResult }}</span>
  </div>
</div>
