<h1>{{ messages.thank.title }}</h1>

<p [innerHTML]="messages.thank.introduction"></p>

<div>
  <h3>{{ messages.thank.review.title }} 2024</h3>
  <div class="progress-stacked mt-4 mb-4 d-flex">
    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="19" aria-valuemin="0"
         aria-valuemax="100" style="flex-grow: 19; flex-basis: 0">
      <div class="progress-bar bg-success">{{ messages.thank.review.drunk.replace('{0}', '43') }}</div>
    </div>
    <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="81" aria-valuemin="0"
         aria-valuemax="100" style="flex-grow: 81; flex-basis: 0">
      <div class="progress-bar bg-danger">{{ messages.thank.review.notDrunk }}</div>
    </div>
  </div>
  <p>{{ messages.thank.review.pleaseHelp }}</p>
</div>

<app-support-buttons [showOnlyDonateButtons]="true"></app-support-buttons>


<h3 class="mt-5">{{ messages.improveTranslation.title }}</h3>
<app-improve-translation></app-improve-translation>
