@(messages: play.i18n.Messages, langs: play.i18n.Langs, env: play.Environment)
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>@messages.at("app.title")</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="shortcut icon" type="image/x-icon" href='@routes.Assets.at("favicon.icn")'>
	<link rel="apple-touch-icon" href='@routes.Assets.at("apple-touch-icon.png")'>
</head>
<body ng-app="mooncalApp">

<nav class="navbar navbar-light bg-light navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="#!/">Mooncal.ch</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#js-navbar-collapse" aria-controls="#js-navbar-collapse"
				aria-expanded="false" aria-label="@messages.at("navigation.toggle")">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="js-navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a ng-href="#!/" ng-class="{active:path=='/'}" class="nav-link">@messages.at("navigation.home")</a>
				</li>
				<li class="nav-item">
					<a ng-href="#!/about" ng-class="{active:path=='/about'}" class="nav-link">@messages.at("navigation.about")</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="dropdown nav-item">
					<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						@messages.at("lang.change")
					</a>
					<ul class="dropdown-menu" role="menu">
						@for(lang <- langs.availables()) {
						<li>
							@if(lang.code()!=messages.at("lang.current")) {
							<a href="@controllers.routes.Application.setLanguage(lang.code())" class="dropdown-item"
							   ng-click='trackLanguageChange(@lang.code(), @messages.at("lang.current"), $event)'>
								@messages.at("lang."+lang.code())
							</a>
							}
						</li>
						}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<main role="main" class="container mt-4">
	<div ng-view=""></div>
</main>

<script>
	!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
	(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
	r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
	}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-82988-8');
	ga('send', 'pageview');
</script>

<script src='lib/angularjs/angular@{if(env.isProd)".min"}.js'></script>
<script src='lib/angularjs/angular-animate@{if(env.isProd)".min"}.js'></script>
<script src='lib/angularjs/angular-route@{if(env.isProd)".min"}.js'></script>
<script src='lib/angularjs/i18n/angular-locale_@{messages.at("app.angularlocale")}.js'></script>
<script src='lib/jquery/jquery@{if(env.isProd)".min"}.js'></script>
<script src='lib/bootstrap/js/bootstrap.bundle@{if(env.isProd)".min"}.js'></script>

<script src='scripts/app.js'></script>
<script src='scripts/controllers/main.js'></script>
<script src='scripts/controllers/about.js'></script>
</body>
</html>
