<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>@Messages("app.title")</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="shortcut icon" type="image/x-icon" href='@routes.Assets.at("favicon.icn")'>
	<link rel="apple-touch-icon" href='@routes.Assets.at("apple-touch-icon.png")'/>
</head>
<body ng-app="mooncalApp">

<div class="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#js-navbar-collapse">
					<span class="sr-only">@Messages("navigation.toggle")</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/">Mooncal.ch</a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">

				<ul class="nav navbar-nav">
					<li ng-class="{active:path=='/'}"><a ng-href="#/">@Messages("navigation.home")</a></li>
					<li ng-class="{active:path=='/about'}"><a ng-href="#/about">@Messages("navigation.about")</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							@Messages("lang.change")<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							@for(lang <- play.i18n.Lang.availables()) {
							<li>
								@if(lang.code()!=Messages("lang.current")) {
								<a href="@controllers.routes.Application.setLanguage(lang.code())">@Messages("lang."+lang.code())</a>
								}
							</li>
							}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div ng-view=""></div>
</div>

<script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-82988-8');
       ga('send', 'pageview');
</script>

<script src='lib/angularjs/angular@{if(play.Play.isProd)".min"}.js'></script>
<script src='lib/angularjs/angular-animate@{if(play.Play.isProd)".min"}.js'></script>
<script src='lib/angularjs/angular-route@{if(play.Play.isProd)".min"}.js'></script>
<script src='lib/angularjs/i18n/angular-locale_@{Messages("app.angularlocale")}.js'></script>
<script src='lib/jquery/jquery@{if(play.Play.isProd)".min"}.js'></script>
<script src='lib/bootstrap/js/dropdown.js'></script>
<script src='lib/bootstrap/js/collapse.js'></script>
<script src='lib/bootstrap/js/modal.js'></script>

<script src='scripts/app.js'></script>
<script src='scripts/controllers/main.js'></script>
<script src='scripts/controllers/about.js'></script>
</body>
</html>
